.intro{
  margin: auto;
  width: 400px;
  font-family: 'Reem Kufi', sans-serif;
	font-size: 52px;
	font-weight: 600;

}

.tagline{
  margin: auto;
  width: 500px;
  font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 100;
}

.main-container{
  margin-top: 20%;
}